<main id="pre-login">
    <div class="container">
        <div class="row">
        <div class="col-12 text-center">
            <h1 id="" class="">Create account or log in</h1>
            <p id="" class="my-3">You will need a Signtel Matrix account to complete your order.</p>
        </div>
        </div>
        <div class="button_grp">
            <button class="btn btn-primary" (click)="navigate('create-account')">Create Account</button>
            <button class="btn btn-primary login" (click)="navigate('login')">Login</button>
        </div>
  </div>
 </main>