.height120{height:120px}
.captcha-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.forgot-passowrd-recaptcha iframe {
    height: 135px;
}
a.back-login{
    color: #1996B2;
    margin-top: 30px;
}
.text-bold{
    font-weight: bold;
}
a {
    color: #38a3bb !important;
}