<main id="home" class="help">


	<div class="masthead-banner">



		<div class="masthead__image-wrapper ">
			<picture class="masthead__image">
				<source srcset="./assets/images/masthead/help--mobile.jpg" media="(max-width: 767px)">
				<source srcset="./assets/images/masthead/help.jpg">
				<img src="./assets/images/masthead/help.jpg" alt="Masthead banner image">
    </picture>

		</div>
		<div class="masthead-banner__wrapper d-block d-lg-none mobile-page-title mobile--top">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-11 col-md-12 col-lg-8 masthead-banner__content">
						<h1 class="text-white text-center">Hi, how can we help you?</h1>
						<p class="text-white text-center">Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever
							since the 1500s.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="masthead-banner__wrapper mobile-bottom">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-11 col-md-12 col-lg-8 masthead-banner__content">
						<h1 class="text-white text-center d-none d-lg-block">Hi, how can we help you?</h1>
						<p class="text-white text-center d-none d-lg-block">Lorem Ipsum is simply dummy text of the
							printing and typesetting industry. Lorem Ipsum has been the industry&#039;s standard dummy
							text ever since the 1500s.</p>
						<div class="needs__wrapper mt-0 mt-lg-3">
							<div class="needs__selector p-0">
								<input class="form-control needs__search" id="keyword" type="text" placeholder="Search by keywords" name="keyword">
                </div>
								<div class="btn btn-primary">Search</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="user-guide mt-5 mt-lg-0 pb-0">
			<div class="container">
				<header class="text-center">
					<h2 id="" class="mb-0">User guides and resources</h2>
				</header>
				<div class="row mt-5">
					<div class="col-lg-4 mb-5 pr-lg-5">
						<div class="user-guide-card">
							<div class="row">
								<div class="col-sm-12">
									<div class="">
										<div>
											<h5 class="card-title">New to Matrix?</h5>
											<div class="mb-5">
												Get started and gain access to our comprehensive suite of business
												productivity resources.
												<br><br>
												<small class="text-black-50">5 Articles</small>
											</div>
										</div>
										<div class="list-group list-group-flush list-group--primary-list">
											<a href="42-app-guides#tab4_tab4a"
												class="caret-right list-group-item">Register as a new user</a>


											<a href="42-app-guides#tab4_tab4b"
												class="caret-right list-group-item">Activating your account</a>


											<a href="42-app-guides#tab4_tab4d"
												class="caret-right list-group-item">Protecting your account</a>


											<a href="42-app-guides" class="list-group-item link-red">View all</a>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-5 pl-3 pr-3">
						<div class="user-guide-card">
							<div class="row">
								<div class="col-sm-12">
									<div class="">
										<div>
											<h5 class="card-title">Accounts and Users</h5>
											<div class="mb-5">
												Manage, update and receive your Matrix report.<br>
												<br><br>
												<small class="text-black-50">23 Articles</small>
											</div>
										</div>
										<div class="list-group list-group-flush list-group--primary-list">
											<a href="42-app-guides#tab2_tab2a"
												class="caret-right list-group-item">Update user particulars</a>


											<a href="42-app-guides#tab2_tab2b"
												class="caret-right list-group-item">Update password policies</a>


											<a href="42-app-guides#tab2_tab2c" class="caret-right list-group-item">Reset
												password</a>


											<a href="42-app-guides" class="list-group-item link-red">View all</a>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-5 pl-lg-5">
						<div class="user-guide-card">
							<div class="row">
								<div class="col-sm-12">
									<div class="">
										<div>
											<h5 class="card-title">Managing Apps</h5>
											<div class="mb-5">
												Learn more about exploring, installing and converting apps from trial to
												paid subscriptions.
												<br><br>
												<small class="text-black-50">12 Articles</small>
											</div>
										</div>
										<div class="list-group list-group-flush list-group--primary-list">
											<a href="42-app-guides#tab3_tab3a" class="caret-right list-group-item">Try
												apps from catalogue</a>


											<a href="42-app-guides#tab3_tab3b" class="caret-right list-group-item">Try
												apps from your dashboard</a>


											<a href="42-app-guides#tab3_tab3c"
												class="caret-right list-group-item">Convert a trial to a paid
												service</a>


											<a href="42-app-guides#tab3_tab3d" class="list-group-item link-red">View
												all</a>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-light">
			<div class="container my-3">
				<div class="mb-3 text-center">
					<h2 id="" class="m-0">SaaS Apps Guides</h2>
					<span id="" class="pb-5 mb-5 font-weight-normal">Need help with an app? Find a solution here.</span>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8 mt-3 text-center mb-5">

						<div class="">
							<a href="#" class="btn btn-primary text-white my-1 py-1 px-3">All</a>


							<a href="#" class="btn btn-secondary my-1 py-1 px-3">Enterprise</a>


							<a href="#" class="btn btn-secondary my-1 py-1 px-3">Productivity</a>


							<a href="#" class="btn btn-secondary my-1 py-1 px-3">Communications & Collaboration</a>


							<a href="#" class="btn btn-secondary my-1 py-1 px-3">Finance & Accounting</a>


							<a href="#" class="btn btn-secondary my-1 py-1 px-3">Sales & Marketing</a>


							<a href="#" class="btn btn-secondary my-1 py-1 px-3">Online, Backup & Security</a>


						</div>
					</div>
					<div class="col-md-4">
						<div class="list-group list-group-flush flex-column">


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>ONEOffice</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Office365</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Essentials Payslip</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Essentials Workflow</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Financio</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>ABSS Premier online</span>
							</a>
						</div>
					</div>
					<div class="col-md-4 d-none d-md-block">
						<div class="list-group list-group-flush flex-column gray-bdr-md-top">


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Adtiq</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>SimplyCast eMarketing</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Business Broadband Security Suite</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>DocuSign</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Essentials Engage</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Google Drive for Work</span>
							</a>
						</div>
					</div>

					<div class="col-md-4 d-none d-md-block">
						<div class="list-group list-group-flush flex-column gray-bdr-md-top">


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Business Backup Suite</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>sendQuick</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>ABSS Premier online</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Adtiq</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>SimplyCast eMarketing</span>
							</a>


							<a href="42-app-guides-one-office"
								class="d-flex align-items-center list-group-item px-0 font-weight-normal bg-blank">
								<img id="" class="rounded mr-3" src="http://via.placeholder.com/60" alt="" width="60" height="60" />
								<span>Business Broadband Security Suite</span>
							</a>
						</div>
					</div>
					<div class="w-100 text-center mt-4 d-md-none">
						<a href="#" class="btn btn-secondary" id="view-all">View all apps</a>
					</div>
				</div>
			</div>
		</section>
</main>