  <main class="main">
 <div class="container breadcrumb-wrapper">
    <div class="row">
      <div class="col-12"><a href="">‹ Back to Manage apps</a></div>
    </div>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="software-tile__wrapper">
          <!-- Header wrapper-->
          <div class="software-tile__header flex-fill mb-0">
            <!-- Tile image--><img class="software-tile__image" src="./assets/images/dashboard/app-logo/office365.png" alt="image">
            <!-- Title wrapper-->
            <div class="software-tile__title-wrapper d-flex justify-content-md-between flex-fill flex-column flex-md-row align-self-center">
              <div>
                <h1>Financio</h1>
                <div id="user-editor">
                  <input type="text" name="username" autocomplete="off" />
                  <a href="#">Save</a>
                </div>
                <p id="user-name"><span>Jalan Kayu Branch</span><svg class="icon icon-edit mt-n1 ml-1">
                    <use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use>
                  </svg></p>
              </div>
              <div id="software_id" class="d-flex flex-md-column text-md-right mt-1 mt-md-0">
                <h6 class="mb-1 mr-2 mr-md-0">Subscription ID</h6>
                <p>SS201912145841</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Info card Start here  -->
    <div class="row">
      <div class="col-12 info-card-wrapper">
        <!-- <div class="swiper-container"> -->
          <div class="swiper-wrapper">
            <div class="swiper-slide">
  <div class="info-card ">
      <div class="info-card__header">
        <span class="text-uppercase">Current plan</span>
      </div>

            <div class="info-card__content">
        <h3 class="info-card__heading">
                    Financio Premium
                  </h3>

        
        
              </div> 
      
      <div class="info-card__footer">
                        <button class="btn btn-secondary px-3">Manage</button>
              </div> 
      
          
  </div>
  </div>
  <!-- <div class="swiper-slide">
   <div class="info-card ">
      <div class="info-card__header">
        <span class="text-uppercase">Contract expiry</span>
      </div>

            <div class="info-card__content">
        <h3 class="info-card__heading">
                    62 days
                  </h3>

                <small class="mt-1 md-small d-block">13 April 2020</small>
        
        
              </div> 
      
      <div class="info-card__footer">
                        <button class="btn btn-secondary px-3">Manage</button>
              </div> 
      
          
  </div>
    <div class="info-card__notification">
    <p>20% off if you recontract before 1 March 2020</p>
  </div>
  </div> -->
  <div class="swiper-slide">
  <div class="info-card ">
      <div class="info-card__header">
        <span class="text-uppercase">Licences used</span>
      </div>

      
            <div class="single-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="circle" stroke-dasharray= 54 , "100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
        </svg>
        <div class="chart__content">
          <h3 class="info-card__heading">54%</h3>
                    <small class="d-inline-block xs-small mb-2">7 out of 13</small>
                            </div>
      </div>

            <div class="info-card__footer">
      <button class="btn btn-secondary px-3">Add</button>
      </div>
                
  </div>
    <!-- <div class="info-card__notification">
    <p>10% off the next tier Offer ends in 3d 12h 10m 30s</p>
  </div> -->
  </div>
  <!-- <div class="swiper-slide">
  <div class="info-card ">
      <div class="info-card__header">
        <span class="text-uppercase">Storage limit</span>
      </div>

      
            <div class="single-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="circle" stroke-dasharray= 80 , "100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
        </svg>
        <div class="chart__content">
          <h3 class="info-card__heading">80%</h3>
                              <small class="d-inline-block xs-small mb-2">used by 2 users</small>
                  </div>
      </div>

            <div class="info-card__footer">
      <button class="btn btn-secondary px-3">Add</button>
      </div>
                
  </div>
  </div>  -->
           </div>
        <!-- </div> -->
        <!-- If we need pagination -->
        <div class="carousel-container__pagination swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"><svg class="icon">
            <use xlink:href="./assets/images/dashboard/svg/sprite.svg#icon-left"></use>
          </svg></div>
        <div class="swiper-button-next"><svg class="icon">
            <use xlink:href="./assets/images/dashboard/svg/sprite.svg#icon-right"></use>
          </svg></div> -->
      </div>
    </div>
  </div>
  <!-- tabs-wrapper start here -->
  <div class="anchor-nav__wrapper anchor-nav__wrapper--reset">
    <div class="tabs-wrapper anchor-nav">
      <div class="container-fluid">
        <!-- Nav Tabs Start Here  -->
        
    
                



<ul class="nav nav-tabs tabs mx-n3 mx-md-0">
            

<!-- <li class="nav-item">
    <a 
      class="nav-link" href="#tab1">
        Add-ons
  </a>
</li>             -->

<li class="nav-item" >
    <a class="nav-link" (click)="onTabClicked('ExistingPlan')">
        Existing plan
  </a>
</li>            

<li class="nav-item" >
    <a class="nav-link" (click)="onTabClicked('Users')">
        Users
  </a>
</li>            

<!-- <li class="nav-item">
    <a class="nav-link"  href="#tab4">
        Settings
  </a>
</li>            

<li class="nav-item">
    <a class="nav-link" href="#tab5">
        Termination
  </a>
</li>    -->
 </ul>        <!-- Nav Tabs End Here  -->
      </div>
    </div>
  </div>
  <!-- Tab content starts here  -->
  <!-- <div class="tab-content">
    <div class="tab-pane fade show active" id="tab1">
     
    </div>
  </div> -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="tab3" *ngIf="isUserTab">
      <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
          <div class="col-12 col-md-5 d-flex flex-row align-items-center">
            <strong class="text-nowrap mr-3">Bulk action</strong>
            <select class="form-control custom-select selectized" id="customSelect" name="customSelect" tabindex="-1" style="display: none;">
              <option value="Select an action" selected="selected">Select an action</option>
            </select>
            <!-- <div class="selectize-control form-control custom-select single">
              <div class="selectize-input items full has-options has-items">
                <div class="item" data-value="Select an action">Select an action</div>
                <input type="select-one" autocomplete="off" tabindex="" id="customSelect-selectized" disabled="disabled" style="width: 4px;">
                </div>
                <div class="selectize-dropdown single form-control custom-select" style="display: none;">
                  <div class="selectize-dropdown-content"></div></div></div>     -->
                        </div>
          <div class="col-12 col-md-6 text-md-right mt-4 mt-md-0">
            <a href="#" class="btn btn-secondary w-auto mr-2" data-toggle="modal" data-target="#exampleModalCenter">Create user</a>
            <a href="#" class="btn btn-secondary w-auto show-on-desktop-nav-inline-block">Import users</a>
          </div>
        </div>
        <div class="table-responsive users-table my-4">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <input class="custom-checkbox__input" id="checkAll" type="checkbox" name="optionAll" placeholder="" value="yes">                  <label class="custom-checkbox__label" for="checkAll">&nbsp;</label>                </th>
                <th scope="col" class="small-th">
                  <div class="d-flex justify-content-between align-items-center"><a href="#" class="dropdown-toggle">Name</a><a href="#" class="down-arrow"></a></div> <input class="" id="" type="text" name="username" placeholder="" value="">                </th>
                <th scope="col">
                  <div class="d-flex justify-content-between align-items-center"><a href="#" class="dropdown-toggle">Email</a><a href="#" class="down-arrow"></a></div> <input class="" id="" type="text" name="email" placeholder="" value="">                </th>
                <th scope="col">
                  <div class="d-flex justify-content-between align-items-center"><a href="#" class="dropdown-toggle">ONEOffice ID</a><a href="#" class="down-arrow"></a></div> <input class="" id="" type="text" name="username" placeholder="" value="">                </th>
                <th scope="col" class="small-th">
                  <div class="d-flex justify-content-between align-items-center"><a href="#" class="dropdown-toggle">Storage usage</a><a href="#" class="down-arrow"></a></div> <input class="" id="" type="text" name="username" placeholder="" value="">                </th>
                <th scope="col" class="small-th">
                  <div class="d-flex justify-content-between align-items-center"><a href="#" class="dropdown-toggle">App role</a><a href="#" class="down-arrow"></a></div> <input class="" id="" type="text" name="username" placeholder="" value="">                </th>
                <th scope="col" class="small-th">
                  <div class="d-flex justify-content-between align-items-center"><a href="#" class="dropdown-toggle">Status</a><a href="#" class="down-arrow"></a></div> <input class="" id="" type="text" name="username" placeholder="" value="">                </th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              


<tr>
  <td>
          <input class="custom-checkbox__input" id="check1" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check1">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          James Chua
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          27GB / 30GB (90%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          End user
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check2" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check2">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          Nelson Tan
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          nelson.tan@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          nelson.tan@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          25GB / 30GB (83%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          Owner
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check3" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check3">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          James Chua
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          End user
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check4" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check4">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          Eugene Boon
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          eugene.boon@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          eugene.boon@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          Owner
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Not assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check5" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check5">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          Rachel Son
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          rachel.son@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          rachel.son@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          Owner
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Not assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check6" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check6">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          James Chua
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          Owner
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check7" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check7">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          Rachel Son
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          End user
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Not assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check8" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check8">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          James Chua
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          Owner
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Not assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check9" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check9">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          James Chua
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          james.chua@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          Owner
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Not assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

<tr>
  <td>
          <input class="custom-checkbox__input" id="check10" type="checkbox" name="" placeholder="" value="yes">
      <label class="custom-checkbox__label" for="check10">&nbsp;</label>      </td>

        
    <td>
            
                      <strong>
          

            <span class="">
          Eugene Boon
            </span>

                      </strong>
          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          eugene.boon@foxhub.com
            </span>

          
          
      
    </td>

      
    <td>
                  <div class="d-flex justify-content-between">
      
          

            <span class="">
          eugene.boon@foxhub.com
            </span>

          
                    <span class="ml-2">
            <svg class="icon icon-edit"><use xlink:href="./assets/images/dashboard/svg/edit.svg#edit"></use></svg>
          </span>
          
            </div>
      
    </td>

      
    <td>
            
          

            <span class="">
          10GB / 30GB (33%)
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="">
          Owner
            </span>

          
          
      
    </td>

      
    <td>
            
          

            <span class="md-small">
          Not assigned
            </span>

          
          
      
    </td>

    <!-- <td><strong></strong></td>
  <td></td>
  <td>joe@email.com</td>
  <td></td>
  <td></td>
  <td><span class="md-small"></span></td> -->
  <td>
    <div class="kebab">
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </td>
</tr>

            </tbody>
          </table>
        </div>
        <div class="row justify-content-between align-items-center">
  <div class="col-md-4">
    <nav aria-label="navigation">
      <ul class="pagination table-pagination justify-content-center justify-content-md-start">
        <li class="page-item"><a class="page-link" href="#"><svg class="icon">
              <use xlink:href="./assets/images/dashboard/svg/chevron-left.svg#chevron-left"></use>
            </svg></a></li>
        <li class="page-item"><a class="page-link" href="#"><svg class="icon icon-left">
              <use xlink:href="./assets/images/dashboard/svg/sprite.svg#icon-left"></use>
            </svg></a></li>
        <li class="page-item mx-2 d-flex align-items-center">
          <input class="" id="" type="text" name="username" placeholder="" value="1">          <span>/ 10</span>
        </li>
        <li class="page-item"><a class="page-link" href="#"><svg class="icon icon-right">
              <use xlink:href="./assets/images/dashboard/svg/sprite.svg#icon-right"></use>
            </svg></a></li>
        <li class="page-item"><a class="page-link" href="#"><svg class="icon">
              <use xlink:href="./assets/images/dashboard/svg/chevron-right.svg#chevron-right"></use>
            </svg></a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3 mt-3 mt-md-0 d-flex justify-content-center justify-content-md-end justify-content-lg-start align-items-center">
    <select class="form-control custom-select xs-select selectized" id="tablePaginationPageSelect" name="tablePaginationPageSelect" tabindex="-1" style="display: none;"><option value="1" selected="selected">1</option></select><div class="selectize-control form-control custom-select xs-select single"><div class="selectize-input items full has-options has-items"><div class="item" data-value="1">1</div><input type="select-one" autocomplete="off" tabindex="" id="tablePaginationPageSelect-selectized" disabled="disabled" style="width: 4px;"></div><div class="selectize-dropdown single form-control custom-select xs-select" style="display: none;"><div class="selectize-dropdown-content"></div></div></div>    <p class="text-nowrap ml-3">items per page</p>
  </div>
  <div class="col-md-5 mt-3 mt-md-0  text-center text-md-right">
    <p>1 - 10 of 20 apps assigned</p>
  </div>
</div>


      </div>
    </div>
  </div>
  </main>
  <!-- Page header start here  -->
