<div class="row h-100">
  <div class="col-12 mb-3">
    <h1 class="log-header-title notification-header-title">Sub Domains</h1>
  </div>
  <div class="col-12">
    <button class="btn btn-sm btn-outline-primary pull-right mb-2" (click)="openPopUp(content, 'New')">
      Create SubDomain
    </button>
  </div>
  <div class="col-12 event-report-table-grid">
    <app-data-grid-notification [gridData]="subDomainsData" [columnDefs]="columnDefs" (getRowData)="getRowData(content,$event)">
    </app-data-grid-notification>
  </div>
</div>
<ng-template #content let-modal>
  <form [formGroup]="subdomainForm" #myForm='ngForm' novalidate autocomplete="off" (ngSubmit)="onSubmit($event)">
    <div class="modal-header">
      <h4 class="modal-title"> {{action}} Subdomain</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-0">
      <div class="col-12 text-dark p-2 pl-0 event-detail-data">
        <div class="form-group col-12">
          <div class="input-group p-3 ">
            <label for="name" class="col-2">Name<span class="text-danger">*</span></label>
            <div class="col-10">
              <input type="text" [ngClass]="{'form-errors': subdomainForm.get('name').hasError('required')}"
                formControlName="name" class="form-control col-12" placeholder="Subdomain Name">
              <div class="form-errors-text text-danger col-md-12 pl-0 pt-2"
                *ngIf="subdomainForm.get('name').hasError('required') && myForm.submitted">
                Subdomain Name is Required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-12">
          <div class="input-group p-3 ">
            <label for="domainId" class="col-2">Domain<span class="text-danger">*</span></label>
            <div class="col-10">
              <select class="form-control col-12 p-0" [(ngModel)]="selectedItems" formControlName="domainId"
                [ngClass]="{'disable-dropdown': action === 'Edit'}">
                <option value="">--Select Domain--</option>
                <option *ngFor="let domain of domains" value={{domain.id}}>{{domain.name}}</option>
              </select>
              <div class="form-errors-text text-danger col-md-12 pl-0 pt-2"
                *ngIf="subdomainForm.get('domainId').hasError('required') && myForm.submitted">
                Domain is Required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-12">
          <div class="input-group p-3 ">
            <label for="url" class="col-2">URL<span class="text-danger">*</span></label>
            <div class="col-10">
              <input type="text" [ngClass]="{'form-errors': subdomainForm.get('url').hasError('required')}"
                formControlName="url" class="form-control col-12" placeholder="URL">
              <div class="form-errors-text text-danger col-md-12 pt-2 pl-0"
                *ngIf="subdomainForm.get('url').hasError('required') && myForm.submitted">
                URL is Required
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer p-2">
      <button type="submit" class="btn btn-primary event-log-screens">Save</button>
      <button type="button" class="btn btn-secondary event-log-screens"
        (click)="modal.close('Close click')">Cancel</button>
    </div>
  </form>
</ng-template>