
    <div class="modal-header">
      <h4 class="modal-title pull-left">sssss</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <div class="row word-wr">
    <pre class="form-control h-100 bg-light" (ngModel)="list"></pre>
    </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
      </div>
 