<!-- <div [innerHTML]="aboutuscontent">
</div> -->

<main id="home">
	<section class="">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="wysiwyg-content my-0">
						 <div class="mb-5 row align-items-center">
                         <a class="col-2" (click)="onGoback()" style="color: #ee3554;">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back
                        </a>
                        <h1 class="col-8 my-3 text-center">About Us</h1>
                     </div>
						

						<p class="text-justify">Brought to you by Singtel, Matrix Digital Services Platform is the largest one-stop marketplace for Small and Medium Enterprises in Singapore. The portal focuses on simplifying SMEs ICT adoption journey, facilitating online collaboration, and helps to deliver business advantages through Cloud solutions.</p>

						<strong>One login - One monthly bill - One helpdesk for support</strong>
						<p class="text-justify">The platform provides enterprise grade capabilities as Infrastructure-as-a-Service to SMEs to centrally self serve and manage cloud services with immediate service provisioning to cloud subscriptions.</p>

						<!-- <p class="text-justify">The platform provides enterprise grade capabilities as IT-as-a-Service
							to SMEs to centrally self serve (register, buy, trial, pay, recontract), manage (user,
							license); with immediate service provisioning and single-sign-on to multiple apps. </p> -->

						<p class="text-justify">Start your digital journey with Singtel Matrix today.</p>

					</div>
				</div>
			</div>


		</div>

	</section>
	<!-- Why section-->
	<section id="section--why">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-10">
					<h2 class="text-center">Why Choose Singtel</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-3">
					<div class="small-tile">
						<div class="small-tile__image-wrapper d-flex justify-content-center align-items-center">
							<img class="small__image" src="assets/images/small-tile/small-tile__support.png" >
    </div>
							<div class="small-tile__wrapper">
								<p class="small__description">Get dedicated support over phone and email</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3">
						<div class="small-tile">
							<div class="small-tile__image-wrapper d-flex justify-content-center align-items-center">
								<img class="small__image" src="assets/images/small-tile/small-tile__cloud.png" >
    </div>
								<div class="small-tile__wrapper">
									<p class="small__description">Migrate your data seamlessly with Singtel</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<div class="small-tile">
								<div class="small-tile__image-wrapper d-flex justify-content-center align-items-center">
									<img class="small__image" src="assets/images/small-tile/small-tile__manage.png" >
    </div>
									<div class="small-tile__wrapper">
										<p class="small__description">Manage all your apps from one account</p>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-3">
								<div class="small-tile">
									<div
										class="small-tile__image-wrapper d-flex justify-content-center align-items-center">
										<img class="small__image" src="assets/images/small-tile/small-tile__phone.png" >
    </div>
										<div class="small-tile__wrapper">
											<p class="small__description">One consolidated bill for all your Singtel
												products and services</p>
										</div>
									</div>
								</div>
							</div>
						</div>
	</section>
</main>