.m0{
    margin: 0px;
}
.page__header {
    padding-left: 15px;
    margin-bottom: 10px;
}
.main {
    overflow: hidden;
    padding: 60px 50px;
    background: #f9f9f9;
}
a{
    color: #007ad9 !important;
}
.page-layout{overflow: hidden;}
/* .header_report{display: flex;
    max-height: 150px;
    min-height: 150px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: url('assets/bannerimages/Homebanner_image.png');
    } */
    .namehighlight{margin:50px auto 50px auto}
    .namehighlight h3{font-size: 24px;
    margin-bottom: -13px;}
    .namehighlight p{font-size:13px;}
    .reportcard{background: #fff;
    margin: -30px auto 0 auto;
    width: calc(100% - 30px);
    border-radius: 10px;
    box-shadow: 0 0 7px #ccc;}